<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello there</title>
</head>
<body>
    <h3>Lets create a book:</h3>
    <form method="post" th:object="${book}">

        <label>Title:</label>
        <input type="text" placeholder="book title" th:field="*{title}"><br/>

        <label>Author:</label>
        <input type="text" placeholder="book author" th:field="*{author}"><br/>

        <label>Price:</label>
        <input type="text" placeholder="book price" th:field="*{price}"><br/>

        <label>Amount:</label>
        <input type="text" placeholder="book amount" th:field="*{amount}"><br/>

        <button type="submit">LETS DO THIS</button>
    </form>
</body>
</html>