<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head(#{book.create.name})}"></head>
<body>
<nav th:replace="~{fragments/layout :: nav('/books/create')}">placeholder</nav>
<main class="container">
    <h3 th:text="#{book.create.name}">Lets create a book:</h3>
    <div th:if="${message ne null AND message.length > 0}"
         class="alert alert-success" role="alert"
         th:text="${message}">
            Success message when add book
        </div>

        <form method="post" th:object="${bookDto}">
            <div class="mb-3 form-group">
                <label th:text="#{book.create.title} + ':'">Title:</label>
                <input class="form-control" type="text" placeholder="book title" th:field="*{title}">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="form-error"></span>
            </div>
            <div class="mb-3 form-group">
                <label th:text="#{book.create.author} + ':'">Author:</label>
                <input class="form-control" type="text" placeholder="book author" th:field="*{author}">
                <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" th:errorclass="form-error"></span>
            </div>
            <div class="mb-3 form-group">
                <label th:text="#{book.create.price} + ':'">Price:</label>
                <input class="form-control" type="text" placeholder="book price" th:field="*{price}">
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="form-error"></span>
            </div>
            <div class="mb-3 form-group">
                <label th:text="#{book.create.amount} + ':'">Amount:</label>
                <input class="form-control" type="text" placeholder="book amount" th:field="*{amount}">
                <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" th:errorclass="form-error"></span>
            </div>
            <div class="mb-3 form-group">
                <label for="categories" th:text="#{book.create.category} + ':'">Category:</label>
                <div class="dropdown">
                    <select id="categories"
                            th:field="*{categoryId}"
                            class="form-select" aria-label="Default select example">
                        <option th:each="category: ${categoriesDto}"
                                th:value="${category.id}"
                                th:text="${category.name}">Category Name</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{book.create.action}">LETS DO THIS</button>
        </form>
    </main>
    <footer th:replace="~{fragments/layout :: footer}">placeholder</footer>
</body>
</html>
